extends layout

block content
  h1= title

  h2 Upload an Image

  form(ref='uploadForm', id='uploadForm', action='/upload', method='post' encType="multipart/form-data")
    input(type="file" name="newImage")
    input(type='submit' value='Upload')

  h2 Pin a CID

  form(ref='pinForm', id='pinForm', action='/pin', method='post', encType="text/plain;charset=utf-8")
    input(type="text" name="cid")
    input(type='submit' value='Pin')

  h2 Gallery

  ul
    each cid in cids
      img(src="#{ipfsProvider}/ipfs/#{cid}", width="100px")
